@page "/"

@*@attribute [Authorize(Roles = "ADM,CAJ")]*@

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
       <SurveyPrompt Title="Se muestra este componente cuando se esta autenticado" />
       <h5>@context.User.Identity!.Name</h5>
    </Authorized>
    <NotAuthorized>
        <p>
            No estas autorizado.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code
{
   [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;
        if (user.Identity.IsAuthenticated)
        {
            var roles = user.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
            if (roles.Contains("CAJ"))
            {
                Console.WriteLine("El usuario es cajero");
            }
            else if (roles.Contains("ADM"))
            {
                Console.WriteLine("El usuario es administrador");
            }
        }
    }
}

