@page "/Clientes"
@using PRJ_Delivery_Blazor.Repositorio
@inject IRepositorio repositorioHTTP

<ListadoGenerico Listado="clientes">
    <HayRegistroCompleto>
        <div class="mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nit</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in clientes!)
                    {
                        <tr>
                            <td>@item.Nit</td>
                            <td>@item.Rol</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </HayRegistroCompleto>
    <NoHayRegistro>
        <h6>no hay registros desde TEST</h6>
    </NoHayRegistro>
    <Cargando>
        <h1>Esperando informaciòn</h1>
    </Cargando>


</ListadoGenerico>


@code {


    List<ClienteDTO>? clientes;
    ResponseListDTO<ClienteDTO>? responseListDTO;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var responseWrapper = await repositorioHTTP.Get<ResponseListDTO<ClienteDTO>>("Cliente?Pagina=1&CantidadRegistrosPorPagina=20");
            if (!responseWrapper.Error)
            {
                responseListDTO = responseWrapper.Response;

                clientes = responseListDTO.valores;

            }
        }
        catch (Exception ex)
        {
            var mess = ex.Message;
        }

    }

}
