@using PRJ_Delivery_Blazor.DTOs


<EditForm Model="@model" OnValidSubmit="@OnValidSubmit" >
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <InputText class="form-control" id="nombre" @bind-Value="model.Nombre" />
        <ValidationMessage For="@(() => model.Nit)" />
    </div>
    <div class="form-group">
        <label for="Rol">Rol</label>
        <InputNumber class="form-control" id="rol" @bind-Value="model.Rol"> </InputNumber>
        <ValidationMessage For="@(() => model.Rol)"/>
    </div>
    
    <br />
    <div class="row" >
        <div class="col-10" >
         <button type="submit" class="btn btn-primary" >Guardar</button>
    </div>
        </div>
</EditForm>



@code {
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
    [Parameter] public ClienteInsertarDTO model { get; set; }
    //ClienteInsertarDTO model = new ClienteInsertarDTO();


}
